.mainBodyHome{
    position: relative;
}

.mov{
    /* margin-top: 2rem; */
    margin: 2rem 1rem;
    border: 1px solid var(--primary-btn);
    border-radius: 10px ;
}

.title{
    background-color: var(--primary-btn);
    position: absolute;
    z-index: 1000;
    top: -15px;
    left: 2rem;
    padding: 0.3rem 1rem;
    border-radius: 5px;
}