.signMain {
    position: relative;
    background-image: url("/Hero Image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    /* Ensure it covers full screen */
    /* padding-bottom: 6.875rem; */
}

.mainOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /* Ensure it covers from top */
    left: 0;
    z-index: 1;
    /* Below the text but above the background */
}

.signBody{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;



}
.signBody form{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    /* max-width: ; */
    width: 30%;
    background-color: red;
    padding: 3.3rem;

}
.logoDiv{
    position: relative;
        z-index: 2;
        padding: 1.5rem 5rem;
}
.logo {
    /* height: 3.5rem; */
    /* height: 5%; */
   
    width: 6%;

    @media (max-width:510px) {
        width: 3rem;
    }
}