.signMain {
    position: relative;
    background-image: url("/Hero Image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    /* padding: auto; */
    /* Ensure it covers full screen */
    /* padding-bottom: 6.875rem; */
}

.mainOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /* Ensure it covers from top */
    left: 0;
    z-index: 1;
    /* Below the text but above the background */
}

.signBody{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;



}
.signBody form{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    max-width: 25%;
    @media (max-width:1200px) {
        max-width: 40%;
        
    }
        @media (max-width:800px) {
            max-width: 50%;
    
        }
        @media (max-width:600px) {
            max-width: 60%;
    
        }
    gap: 0.8rem;
    /* width: 25%; rgba(255, 255, 255, 0.4);*/
    /* background-color: rgba(0, 0, 0, 0.5); */
        background-color: rgba(16, 1, 21, 0.45);
    border-radius: 4px;
    padding: 3.3rem;

    & h2{
        margin: 0;
        font-size: 2rem;
        font-weight: 600;
    }

}
.logoDiv{
    position: relative;
        z-index: 2;
        padding: 1.5rem 5rem;
}
.logo {
    /* height: 3.5rem; */
    /* height: 5%; */
   
    /* width: 6%; */
    /* width: 4.6875rem; */
    /* width: 7rem; */

    /* @media (max-width:510px) {
        width: 5rem;
    } */
}

.signBtn{
    background-color: var(--primary-btn);
    color: white;
    font-size: 1.1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    & > div{
        position: static;
        display: inline;
    }
}

.signBtn:hover{
    background-color: var(--btn-hover);
}


.checkboxContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    /* color: #333; */
}

.checkboxContainer input {
    display: none;
    /* Hide default checkbox */
}

.checkmark {
    width: 18px;
    height: 18px;
    border: 2px solid var(--primary-btn);
    /* Border color */
    border-radius: 4px;
    display: inline-block;
    position: relative;
    margin-right: 8px;
}

/* When checked, show a custom checkmark */
.checkboxContainer input:checked+.checkmark {
    background-color: var(--primary-btn);
    border-color: var(--primary-btn);
}

.checkboxContainer input:checked+.checkmark::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.new{
    & p:first-of-type{
        font-size: 1rem;
        margin-bottom: 0.7rem;
    }

    & p:last-of-type{
        font-size: 0.7rem;
        color: var(--input-text);

        & a{
            color: var(--primary-btn);
        }
    }
}
.footerD {
    position: relative;
    z-index: 2;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: rgba(16, 1, 21, 0.7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 1.5rem;
    margin-top: 2.5%;
    & div {
        display: flex;
        flex-direction: column;
        & a {
            color: var(--input-text);
        }
        & a:hover {
            color: var(--primary-btn);
        }
        
    }
    @media (max-width:510px) {
        font-size: 0.8rem;
    }
}

@media (max-width:450px) {
    .signBody form {
        padding: 2rem;
        max-width: 80%;
    }
        .logoDiv {
            position: relative;
            padding: 1.5rem 1rem;
        }
    .footerD{
        margin-top: 10%;
    }
}

.resend{
    display: flex;
    justify-content: space-between;

    & > span{
        color: var(--primary-btn);
    }
     & > span:hover{
        cursor: pointer;
    }
}