.UploadForm{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    gap: 2rem;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    z-index: 1;
   
    & button[type="submit"]{
        background-color: var(--primary-btn);
        color: white;
    }
        & button[type="submit"]:hover {
            background-color: var(--btn-hover);
          
        }

    & .select, & textArea{
        width: 40%;
        
            box-sizing: border-box;
            /* display: flex; */
            border-radius: 4px;
            /* background-color: rgba(100, 100, 100, 0.3); */
            background-color: rgba(180, 160, 200, 0.2);
            border: 2px solid var(--primary-btn);
            padding: 1rem;
            outline: none;
            font-size: 1.2rem;
            color: var(--input-text);
    }
    & textArea{
        resize: none;
        height: 10rem;
    }

    &    .select option {
            background: rgba(0, 0, 0, 0.8);
            color: white;
            padding: 10px;
        }
    & .select option:hover {
        background: var(--btn-hover);
    }
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%) brightness(100%);
    cursor: pointer;
}
/* .UploadForm:hover{
    
} */

.fileField{
    position: relative;
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-btn);
    border-radius: 5px;
    width: 30%;
    height: 20rem;
    padding: 2rem;
    & input{
        width: 100%;
        height: 100%;
        align-self: center;
        opacity: 0;
        position: absolute;
    }

    & img{
        width: 6rem;
    }
    & h4{
        font-size: 1.5rem;
    }
    & p{
        font-size: 0.9rem;
        color: var(--input-text);
    }
}
input[type="file"]:hover{
    cursor: pointer !important;
    
}
.fileField:hover{
    .upBtn button {
            background-color: var(--btn-hover);
        }
}
.upBtn{
    display: flex;
    /* gap:0.7rem; */
    & div{
        padding: 0 0.3rem;
        display: flex;
        align-items: center;
        border: 1px solid var(--border-light);
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-right: 0;
    }
    & button{
        background-color: var(--primary-btn);
        color: white;
        font-size: 1rem;
        border-radius: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;

    }
    & button:hover{
        background-color: var(--btn-hover);
    }
}

.upInp{
    width: 40%;

    box-sizing: border-box;
        /* display: flex; */
        border-radius: 4px;
        /* background-color: rgba(100, 100, 100, 0.3); */
        background-color: rgba(180, 160, 200, 0.2);
        border: 2px solid var(--primary-btn);
        padding: 1rem;
        outline: none;
        font-size: 1.2rem;
        color: var(--input-text);
}

.date{
    border-radius: 4px;
        /* background-color: rgba(100, 100, 100, 0.3); */
        background-color: rgba(180, 160, 200, 0.2);
        border: 2px solid var(--primary-btn);
        /* border: 2px solid #B82C6F; */
        /* border: 2px solid #E060A2; */
        padding: 1rem;
}

@media (max-width:500px) {
    .mD{
        width: 100% !important;
    }
    .upInp,.date,.UploadForm .select, .UploadForm textArea{
        width: 90%;
    }
    .fileField{
        width: 85%;
    }
}

.mainFor{

    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23b3a8c4' fill-opacity='0.06' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}