.main{
    background-color: #262626;
}

.mainDiv{
    /* padding: 1.5rem 0; */
    display: flex;
    flex-direction: column;
    gap: 6px;
}
/* .d1{
    padding-top: 3rem;
} */
.div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    /* background-color: #000000; */
    background-color: #100115;
    padding: 2rem 8%;
    & h2{
        font-size:2.3rem;
        font-weight: 600;
    }
    & p{
        font-size: 1rem;
        font-weight: 400;
    }
    & img{
        width: 44%;
    }
}

.aboutUS{
    /* background-color: #000000; */
    background-color: #100115;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 8%;
    gap: 12px;
    & h2{
        font-size: 2.3rem;
            font-weight: 600;
    }
}

.mAbout{
    background-color: rgba(42, 42, 42, 0.5);
    display: none;
        /* justify-content: space-between; */
        align-items: center;
        /* width: 100%; */
        
         /* flex-grow: 1; */
        padding: 1rem;
        border-radius: 4px;

    & p{
        font-size: 1rem;
        padding-left: 2rem;
        padding-right:2rem ;
        @media (max-width:510px) {
            padding: 0.8rem ;
        }
    }
}

.aboutUsDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    /* background-color: #2A2A2A; */
    background-color: rgba(162, 48, 197, 0.4);
    padding: 1rem;
    border-radius: 4px;
    & h3{
        margin: 0;
        font-weight: 500;
        font-size: 1.3rem;
    }

    & img{
        height: 1.5rem;
    }

}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.show {
    animation: fadeIn 0.5s ease-in forwards;
    display: flex;
}

.hide {
    animation: fadeOut 0.5s ease-out forwards;
    /* display: none; */
    }


.signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
}

.signUp form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin: 1.5rem;
    @media (max-width:450px) {
        margin: 1.5rem 0;
    }
}

.input {
    max-width: 23rem;
    width: 42%;
    /* background: rgba(0, 0, 0, 0.45); */
    background-color: rgba(180, 160, 200, 0.2);
    padding: 0.7rem 1rem;
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--border-light);
    color: var(--input-text);
    font-size: 1.2rem;
}

.signUpBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    /* width: 13rem; */
    padding: 0.7rem;
    font-size: 1.2rem;

    & img {
        height: 0.9rem;
    }
}


.signUpBtn:hover {
    border-color: var(--primary-btn);
    color: var(--primary-btn);

    /* & img{
        filter: sepia(0.5) saturate(3) hue-rotate(320deg) brightness(0.9);
    } */

    .i1 {
        display: none;
    }

    .i2 {
        display: inline;
    }
}

.i2 {
    display: none;
}


.footerD {
    /* background-color: #000000; */
    background-color: #100115;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 1.5rem;

    & div{
        display: flex;
        flex-direction: column;
    }
}



@media (max-width:700px) {
    .div h2{
        font-size: 1.5rem;
    }
}

@media (max-width:630px) {
    .div{
        flex-direction: column;
    }
    
}

@media (max-width:510px) {
    .aboutUsDiv h3 {
        font-size: 1rem;

        
    }
    .mob > div{
        order: 1;
    }

    .div img{
        width: 75%;
    }
    
    .footerD a{
        font-size: 0.8rem;
    }
   
}

@media (max-width:630px) {
    .div{
        padding: 2rem 4%;
    }
    .aboutUS{
        padding: 0 4%;
    }
}