.navBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  1.5rem 8%;
    @media (max-width:630px) {
        padding: 1.5rem 4%;
    }
}

.signIn{
    background-color: var(--primary-btn);
    color: white;

}
.logo{
    /* width: 7rem; */
    /* height: 5%; */
    /* width: 26%; */
    @media (max-width:510px) {
        /* width: 5rem; */
    }
}