.navBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  1.5rem 8%;
}

.signIn{
    background-color: var(--primary-btn);
    color: white;

}
.logo{
    /* height: 3.5rem; */
    /* height: 5%; */
    width: 26%;
    @media (max-width:510px) {
        width: 3rem;
    }
}