.mainMenu{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.7);
    right: 1rem;
    top: 3rem;
    transition:opacity 0.3s ease, box-shadow 0.3s ease;
    /* padding: 2rem 1rem; */
   @media (max-width:400px) {
     right:0.5rem
   }

    
}
.menuBtn {
    display: flex;
    /* width: 100%; */
    background-color: transparent;
    color: var(--text-primary);
    gap: 10px;
    align-items: center;
    padding: 0.8rem 1.3rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.menuBtn:hover{
    transform: scale(1.03);
    
}
.subMen{
    
    width: 100%;
    border: 1px solid var(--border-light);

}
.hover{

}