.outlineBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    /* width: 13rem; */
    padding: 0.7rem;
    font-size: 1.2rem;

    & img {
        height: 0.9rem;
    }
}
.outlineBtn:hover {
    border-color: var(--primary-btn);
    color: var(--primary-btn);
}

.touchableOpacity {
    display: "flex";
    justify-content: "center";
    align-items: "center";
    cursor: "pointer";
    transition: opacity 0.2s ease-in-out;
}

.touchableOpacity:active {
    opacity: 0.6;
}
.movieCard{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.movieCard:hover{
    cursor: pointer !important;
    transform: scale(1.05);
    /* box-shadow: 0 8px 16px rgba(255, 0, 255, 0.3); */
      
}

.roundBtns {
            border: 1.5px solid var(--primary-btn);
            width: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;

            & img {
                width: 1rem;
            }
        }
